*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: Arial, Helvetica, sans-serif;
}
#main {
}
#header {
background-color: brown;
height: 50px; 
}
#nav {

}
#nav li {
    display: inline-block;      
}
#nav li a {
    color: rgb(238, 227, 227);
    line-height: 50px;
    text-decoration: none;
    padding: 0 50px 0 50px;
    display: inline-block;
}
#nav li:hover a {
    color: aliceblue;
    background-color: black;
}
#nav .subnav {
    /*display: none;*/
}
#slider {

}

#content {

}

#footer {

}

